@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@source "/src/templates/**/*.php";
@source "/src/modules/**/*.php";
@source "/src/addons/project/lib/**/*.php";
@source "/src/addons/project/fragments/**/*.php";
@source not "/src/addons/**/vendor/**/*";

/* Your custom styles below. */
:root {
	color-scheme: light dark;
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
}
